apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: akosh36/gitops-app:latest
          ports:
            - containerPost: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  selector:
    app: webbapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: NodePort
